
nav{
    position: fixed;
    background-color: transparent;
    padding:40px;
    color:white;
    right: 0;
    top:0;
    text-shadow:3px 3px 5px white;
    font-size: 30px;
    font-weight:bold;
}
nav>ul{
    text-align: right;
    top:0;
    left:0;
    right:0;
}

nav>ul>li{
   padding: 18px;
   margin-right: 0;
   text-transform: uppercase;
   text-decoration: none;
    display:inline-block;
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(221, 109, 35, 0.678);
    color: white;
    }
    

    body{
        border: 1px solid blue;
        margin:0px;
        padding:10%;
        padding-top:10px;
        margin-top:10px;
        margin-bottom:10px;
        background-image:URL("https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-repeat: no-repeat;
        background-size:cover;
        color: black;
        padding-left:50px;
        padding-right:50px;
        height:2600px;
        margin-right: 50px;
        margin-left: 50px;
    
        
        
    }   
    h1{
        border:1px yellow;
       align-self:center;
       text-align:center;
       font-size:45px;
       font-style: italic;
       padding:10px;
       margin:20px;
       display: flex;
        align-self:center;
        left:-20px;
        margin-right: 50px;
        justify-content:center;
        font-size:40px;
        border:1px solid white;
        background-color: yellowgreen
    }
    #one{
        align-self:center;
        text-align:center;
        font-size:25px;
        border:1px yellow;
        padding:10px;
        margin:10px;
    }
   
    #one{
        border:1px solid white;
        background-color:grey;
        margin-left: 180px;
        margin-right: 180px;
        padding: 5px;
        text-shadow: 3px 3px 5px yellow;
    }
    #two{
        border:1px white;
        padding:5px;
        margin: 20px;
        width: 350px;
        height: 200px;
        align-self:center;
        font-size: 27px;

    }
    #three{
        border:1px white;
        color: Amber;
        padding:5px;
        margin: 20px;
        width: 340px;
        height: 200px;
        align-self:center;
        font-size:27px;
     
    }
    .column{
        border:8px dotted lime;
        display:flex;
        justify-content: space-evenly;
        font-size:30px;
        margin:1%;
        padding:1%;
        padding-bottom:1px;
        border-radius:30px;

    }
    #zero{
        
        border-radius:20px;
       background-color:purple;
        align-self:center;
        font-size:30px;
        border:8px yellow;
        padding:10px;
        margin:10px;
        font-family: 'Roboto Mono', monospace;
    }
    #zero{
        border:5px solid blue;
    }
    .container{
        border:8px dotted green;
        justify-content: space-evenly;
        font-size:30px;
        margin:1%;
        padding:1%;
        padding-bottom:1px;
        border-radius:30px;
        background-color:aqua;


    }
    img{
        display: flex;
        align-items: center;
        align-self: center;
        position: relative;
        left: 350px;
    }
    #link{
        font-size:30px;

    }
    #link>li,a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        color: white;
        }
        #lin{
            font-size:30px;
            float:right;
            position:relative;
            bottom:25px;
        }
        #pat1{
            font-family: 'Vollkorn', serif;
            background-color:pink;
            color:blue;
            border-radius:20px;

        }
        #pat2{
            font-family: 'Vollkorn', serif;
            background-color:lime;
            border-radius:20px;
        }
        #pat3{
            font-family: 'Vollkorn', serif;
            background-color:orange;
            color:purple;
            border-radius:20px;
        }
        #five{
            display: flex;
            align-content: center;
            position:relative;
            left:90px;
            border-radius:20px;
        }