
nav{
    position: fixed;
    background-color: transparent;
    padding:40px;
    color:white;
    right: 0;
    top:0;
}
nav>ul{
    text-align: right;
    top:0;
    left:0;
    right:0;
}
nav>lsli{
    color:white;
}
nav>ul>li{
   padding: 18px;
   margin-right: 0;
   text-transform: uppercase;
   text-decoration: none;
    display:inline-block;
    color: white;
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(221, 109, 35, 0.678);
    color: white;
    }
    .column{
        align:center;
        align-self:center;
        text-align:center;
        font-size: 40px;
    }

    body{
        border:1px solid blue;
        padding: 50px;
        margin: 50px;
        background-image:URL("https://lh3.googleusercontent.com/iQFAm5mDNcrjEMBNL8vSclyBshqARo-LF49RgVGBbEE_MWCMfs7yAs1LdtMFarj-uH0sqS8=s150");
        background-repeat: no-repeat;
        background-size:cover;
        color: black;
    }   
    h1{
        border:1px yellow;
       align-self:center;
       text-align:center;
       font-size:45px;
       font-style: italic;
       padding:10px;
       margin:20px;
    }
    #one{
        align-self:center;
        text-align:center;
        font-size:25px;
    }
    footer{
        background-color: lightgreen;
        font-size:20px;
        background-size:contain;
        background-repeat: no-repeat;
        border-color:pale greenyellow;
    
    }

