
nav{
    position: fixed;
    background-color: transparent;
    padding:40px;
    color:white;
    right: 0;
    top:0;
    text-shadow:3px 3px 5px white;
    font-size: 30px;
    font-weight:bold;
}
nav>ul{
    text-align: right;
    top:0;
    left:0;
    right:0;
}
/* nav>lsli{
    color:white;
} */
nav>ul>li{
   padding: 18px;
   margin-right: 0;
   text-transform: uppercase;
   text-decoration: none;
    display:inline-block;
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(221, 109, 35, 0.678);
    color: white;
    }
    

    body{
        border: 1px solid blue;
        margin:10%;
        padding:10%;
        padding-top:10px;
        margin-top:10px;
        margin-bottom:10px;
        background-image:URL("https://lh3.googleusercontent.com/CstxBfxonYLWNA7038wtPcYwM0uL9_fRED2jSB2co0vcuMDkcji_24n8sZ6lspRzXWV0L0E=s136");
        background-repeat: no-repeat;
        background-size:cover;
        color: black;
        padding-left:50px;
        padding-right:50px;
        height:1699px;
        margin-right: 50px;
        margin-left: 50px;
    
        
        
    }   
    h1{
        border:1px yellow;
       align-self:center;
       text-align:center;
       font-size:45px;
       font-style: italic;
       padding:10px;
       margin:20px;
       display: flex;
        align-self:center;
        left:-20px;
        margin-right: 50px;
        justify-content:center;
        font-size:40px;
        border:1px solid white;
        background-color: yellowgreen
    }
    #one{
        align-self:center;
        text-align:center;
        font-size:25px;
        border:1px yellow;
        padding:10px;
        margin:10px;
    }
   
    #one{
        border:1px solid white;
        background-color:grey;
        margin-left: 180px;
        margin-right: 180px;
        padding: 5px;
        text-shadow: 3px 3px 5px yellow;
    }
    #two{
        border:1px white;
        padding:5px;
        margin: 20px;
        width: 350px;
        height: 200px;
        align-self:center;
        font-size: 27px;

    }
    #three{
        border:1px white;
        color: Amber;
        padding:5px;
        margin: 20px;
        width: 340px;
        height: 200px;
        align-self:center;
        font-size:27px;
     
    }
    .column{
        display:flex;
        justify-content: space-evenly;
    }
    #zero{
        border:1px yellow;
        border-radius:20px;
        align-self:center;
        font-size:25px;
        border:1px yellow;
        padding:10px;
        margin:10px;
    }
    .none{
        border: 3px dotted green;
        width: 200px;
        height: 300p;
        border:1px white;
        padding:20px;
        width: 300px;
        height: 200px;;
        font-size: 27px;
        box-sizing:content-box;
        overflow:auto;

    }
    #four{
        padding:5px;
        margin: 20px;
        width: 250px;
        height: 200px;
        align-self:center;
        font-size:27px;
     
    }
    #five{
       display:flex;
       flex-grow:100;
    
    }
    footer{
        border:1px solid green;
        background-color: brown;
        left:0px;
        font-size:20px;
        padding:1px;
        margin: 32%;
        width:900px;
        flex-direction:column;
        margin-top:1px;
    }
    #six{
        display:flex;
        align-items: start;
        justify-content:space-evenly;
        border: 3px dotted green;
        width: 200px;
        height: 300p;
        border:1px white;
        padding:20px;
        width: 300px;
        height: 200px;;
        font-size: 27px;
        box-sizing:content-box;
        overflow:auto;
        align-self:flex-end;
        
    }