table,th,td,tr{
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid black;

  }
 nav{
     position: fixed;
     background-color: transparent;
     padding:40px;
     color:white;
     right: 0;
 }
 nav>ul{
     text-align: right;
     top:0;
     left:0;
     right:0;
 }
 nav>lsli{
     color:white;
 }
 nav>ul>li{
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
     display:inline-block;
     color: white;
 }
  nav>ul>li>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(221, 109, 35, 0.678);
  color: white;
  }
  footer{
      background-color: brown;
  }