/* Tablet Landscape */
/* @media screen and (max-width: 1060px) { */
    /* #primary { width:67%; } */
    /* #secondary { width:30%; margin-left:3%;}   */
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
body{
    color:solid blue;
    padding: 1px;
    border:1px solid green;
    background-color: skyblue;
    height:2650px;
}
nav{
    position: fixed;
    background-color: transparent;
    padding:40px;
    color:white;
    right: 0;
    font-size: 25px;
    text-shadow:3px 3px 5px white;
    font-size: 30px;
    font-weight:bold;
}
nav>ul{
    text-align: right;
    top:0;
    left:0;
    right:0;
}
nav>lsli{
    color:white;
}
nav>ul>li{
   padding: 18px;
   margin-right: 0;
   text-transform: uppercase;
   text-decoration: none;
    display:inline-block;
    color: white;
}
 nav>ul>li>a:hover {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 background: rgba(221, 109, 35, 0.678);
 color: white;
 }
 #one{
     display: flex;
     bottom:0;
 }
 img{
     display: flex;
     align-items: center;
     align-self: center;
     text-align: center;
     flex-direction: column;
 }
 .column{
     display: flex;
     justify-content: space-evenly;
 }
 #two{
     border:1px orange;
     padding:20px;
     margin: 10px;
     width: 250px;
     height:200px;
     font-style:generic;
     font-size:27px;
     color:orange;

 }
 #three{
    border:1px orange;
    padding:20px;
    margin: 10px;
    width: 250px;
    height:200px;
    font-style:generic;
    font-size:27px;
    color:yellow;


 }
 #four{
    border:1px orange;
    padding:20px;
    margin: 10px;
    width: 250px;
    height:200px;
    font-style:generic;
    font-size:27px;
    color: navy;
 }
 #five{
     display:flex;
     align-items: center;
     justify-content: space-evenly;
 }
 pan{
     display:flex;
     align-items:center;
     justify-content: space-evenly;
 }
 .properties{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    font-size:25px;
 }
 footer{
    background-color:brown;
    font-size:20px;


}
.properties:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(221, 109, 35, 0.678);
    color: white;
    }
